body {
	background: #f8fafc;
}

.menu .item a,
.download,
.shop-cart,
.login a,
.login {
	color: #9ca0a4;
}
/* 下拉框 */
.menu-list {
  margin: 13px 30px 0 0;
}
.menu-list-content {
	right: 325px;
	top: 50px;
}

.menu .item a:hover {
	color: #fff !important;
		border-bottom: 2px solid #fff !important;
}

.menu .item a.menu-item-select {
	color: #fff;
}

.menu {
	margin-left: 0;
	height: 50px;
}

.item {
	height: 50px !important;
}

.item a {
	line-height: 50px !important;
	height: 50px !important;
}

.item:nth-of-type(3) a {
	border-bottom: 2px solid #fff;
	color: #fff;
}

.search-area {
	border-bottom: 1px solid #6a7076;
}

.search-input {
	color: #fff;
}

.header {
	height: 50px !important;
	box-sizing: border-box;
	padding: 0 295px;
}

.header-unlogin {
	height: 50px;
}

.login {
	line-height: 50px;
	height: 50px;
}

.login a {
	line-height: 50px;
}

.login a:hover {
	color: #fff;
}


.shizhan-title {
	height: 132px;
	background: rgba(241, 145, 73, 1);
}

.shizhan-title-wrap,
.shizhan-fenlei-wrap,
.shizhan-menu-wrap,
.shizhan-content-wrap {
	width: 1300px;
	height: 100%;
	margin: 0 auto;
}
.shizhan-fenlei-wrap{
		height: auto;
}

.shizhan-content {
	min-height: 509px;
}

.pagenation {
	position: relative;
	bottom: 0px;
	left: 0px;

}

.shizhan-content-wrap {
	margin-top: 50px;
	position: relative;
	height: auto;
}

.title-img {
	width: 50%;
	height: 100%;
	float: left;
}

.title-img a:nth-child(1) {
	display: inline-block;
	vertical-align: top;
	width: 196px;
	height: 64px;
	margin: 34px 0 0 8px;
}

.title-img a img {
	width: 100%;
	height: 100%;
}

.title-search {
	width: 50%;
	height: 100%;
	float: right;
}

.search {
	height: 48px;
	width: 100%;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	margin-top: 44px;
}

.search input {
	height: 100%;
	width: 100%;
	padding: 0px 50px 0px 20px;
	font-size: 17px;
}

.search .submit {
	position: absolute;
	right: 0;
	top: 0;
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	background: #f01414;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}



.shizhan-fenlei {
	height: auto;
	background: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	line-height: 60px;
}

.shizhan-fenlei span {
	display: inline-block;
	color: #000;
	cursor: pointer;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	margin-right: 40px;
	position: relative;
}

.shizhan-fenlei-wrap span:nth-of-type(1) {
	border-bottom: 3px solid #f01414;
	color: #f01414;
}

.shizhan-menu {
	height: auto;
}

.shizhan-menu-wrap {
	border-bottom: 1px solid #d9dde1;
	height: auto;
	padding-bottom: 20px;
}

.shizhan-menu-wrap span {
	cursor: pointer;
	color: #4d555d;
	display: inline-block;
	height: 32px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 32px;
	border-radius: 16px;
	margin-top: 17px;
	margin-right: 20px;
	font-size: 14px;
}

.shizhan-menu-wrap span:nth-of-type(1) {
	background: #2b333b;
	color: #fff;
}

.mr24 {
	margin-right: 24px;
}

.course-card {
	cursor: pointer;
	width: 238px;
	height: 250px;
	float: left;
	border-radius: 10px;
	border: 1px solid #dfdfdf;
	margin-bottom: 30px;
}

.course-card:nth-of-type(5) {
	margin-right: 0;
}

.course-card:nth-of-type(10) {
	margin-right: 0;
}

.course-card:nth-of-type(15) {
	margin-right: 0;
}

.course-card:nth-of-type(20) {
	margin-right: 0;
}

.course-card:nth-of-type(25) {
	margin-right: 0;
}

.course-img {
	height: 148px;
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
}

.course-card:hover img {
	transform: scale(1.1);
}

.course-card:hover {
	box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.35);
}

.course-img img {
	width: 100%;
	transition: all 1s;
	height: 100%;
}

.course-img .author-avator {
	vertical-align: bottom;
	margin-right: 6px;
	width: 36px;
	height: 36px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.course-name {
	margin-top: 10px;
	padding: 0 5px;
}

.course-desc {
	padding: 0 5px;
	margin: 8px 0px;
	color: #93999f;
	font-size: 12px;
}

.course-desc {
	font-weight: 300;
	font-size: 13px;
}

.user {
	margin-right: 2px;
	margin-left: 12px;
}

.price-number {
	float: left;
}

.add-cart,
.add,
.shu {
	float: right;
	color: #b7bbbf;
}

.shu {
	margin: 0 20px;
}

.add-cart:hover,
.add:hover {
	color: #4d555d;
}